@namespace StudioElf.Theme.Bootswatch.Default
@using StudioElf.Theme.Bootswatch.Client
@inherits ContainerBase
@inject ISettingService SettingService

<div class="@_classes">
    @if (_ContainerSettings.Title && ModuleState.Title != "-")
    {
        <div class="row px-4">
            <div class="d-flex flex-nowrap">
                <ModuleActions /><h2><ModuleTitle /></h2>
            </div>
            <hr class="app-rule" />
        </div>
    }
    else
    {
        <ModuleActions />
    }
    <div class="row px-4">
        <div class="container-fluid">
            <ModuleInstance />
        </div>
    </div>
</div>

@code {
    public override string Name => "Customizable Container";

    private BootswatchContainerSettings _ContainerSettings;
    private string _classes = "container-fluid";

    protected override void OnParametersSet()
    {
        try
        {
            if (ModuleState.Settings.TryGetValue(BootswatchContainerSettings.SETTINGS_KEY, out var json))
            {
                _ContainerSettings = new BootswatchContainerSettings(json);
            }
            else
            {
                _ContainerSettings = new BootswatchContainerSettings();
            }

            _classes += " " + _ContainerSettings.Background;
            _classes += " " + _ContainerSettings.Text;
            _classes += " " + _ContainerSettings.Border;
            _classes = _classes.Trim();
        }
        catch
        {
            // error loading container settings
        }
    }
}